.GameContainer{
    color: white;
    width: 50%;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.buttonsContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 1%;
}
header{
    text-align: center;
}

@media screen and (max-width: 900px) {
    
    .GameContainer{
        width: 90%;
    }
}