.buttonImageContainer{
    background-color: transparent;
    display: flex;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    justify-content: center;
    transition: .5s;
    border: 1px solid black;
    background-color: white;
    width: 5em;
}
.buttonImageContainer:hover{
    background-color: rgba(255, 255, 255, .5);
    transition: .5s;
}
.buttonImageContainer:active{
    background-color: rgba(0, 255, 98, 0.5);
    
    transition: .01s;
}
.buttonNotSelected:disabled{
    background-color: gray;
}
.buttonSelected:disabled{
    background-color: lightskyblue;
}

.imgButton{
    margin: 0;
    padding: 0;
    border: 1px solid white;
    border-radius: 50%;
    width: inherit;
}

@media screen and (max-width: 900px) {

    .buttonImageContainer{
        width: 3em;
    }
}

@media screen and (min-width: 1600px) {
    
    .buttonImageContainer{
        width: 9em;
    }
}