.GameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 50%;
    border-radius: 20px;
}
.buttonsContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 1%;
}
header{
    text-align: center;
}